body {
  font-family: Corbel, "Calibri Light", -apple-system;
}

.medium-img {
  width: 16.7%;
  float: top;
}

.top {
  font-family: Corbel, "Calibri Light", -apple-system;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  position: relative;
  bottom: 50px;
}

#title {
  border-bottom: 2px solid rgb(196, 196, 196);
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: Corbel, "Calibri Light". -apple-system;
}
